# Files to tell git to ignore

.vscode
*.vs
*bin/
*obj/
/ort
/build
/build_*
/test/test_models/*
/cache_models
/onnxruntime-linux-x64-*
*.csv
.idea
cache_dir
example-models
*.onnx
*.onnx.data
__pycache__
benchmark/python/*.csv
examples/python/genai_models
examples/python/hf_cache

!test/test_models/hf-internal-testing/
!test/test_models/hf-internal-testing/tiny-random-gpt2*/*.onnx

.ipynb_checkpoints/