# Files to tell git to ignore

.vscode
*.vs
*bin/
*obj/
/ort
/build
/test/test_models/*
/cache_models
/*.csv
.idea
cache_dir
example-models
*.onnx
*.onnx.data
benchmark/python/*.csv

!test/test_models/hf-internal-testing/
!test/test_models/hf-internal-testing/tiny-random-gpt2*/*.onnx