# Files to tell git to ignore

.DS_Store
.vscode

*.vs
*bin/
*obj/
src/csharp/AssemblyInfo.cs
/ort
/build
/build_*
/test/test_models/*
/cache_models
/onnxruntime-linux-x64-*
*.csv
.idea
cache_dir
example-models
*.onnx
*.onnx.data
__pycache__
benchmark/python/*.csv
models_outputs
models_outputs_cpu
benchmark/python/output
examples/python/genai_models
examples/python/hf_cache
examples/csharp/HelloPhi/models

!test/test_models/hf-internal-testing/
!test/test_models/hf-internal-testing/tiny-random-gpt2*/*.onnx
!test/test_models/grammars/

.ipynb_checkpoints/
/src/java/.gradle
/src/java/local.properties
/src/java/build
/src/java/CMakeFiles
/src/java/CMakeCache.txt