name: "Linux CPU x64 Build"
on: [ workflow_dispatch, pull_request ]
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
env:
  ort_dir: "onnxruntime-linux-x64-1.17.0"
  ort_zip: "onnxruntime-linux-x64-1.17.0.tgz"
  ort_url: "https://github.com/microsoft/onnxruntime/releases/download/v1.17.0/onnxruntime-linux-x64-1.17.0.tgz"
jobs:
  linux_cpu_x64:
    strategy:
      matrix:
        compiler: [ gcc, clang ]
    runs-on: [ "self-hosted", "1ES.Pool=onnxruntime-genai-Ubuntu2204-AMD-CPU" ]
    steps:
      - name: Checkout OnnxRuntime GenAI repo
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Download OnnxRuntime
        run: |
          curl -L -o ${{ env.ort_zip }} ${{ env.ort_url }} 

      - name: Unzip OnnxRuntime
        run: |
          tar -xzf ${{ env.ort_zip }}
          rm ${{ env.ort_zip }}

      - name: Rename OnnxRuntime to ort
        run: |
          mv ${{ env.ort_dir }} ort

      - name: Build with CMake and GCC
        run: |
          set -e -x
          rm -rf build
          cmake --preset linux_${{ matrix.compiler }}_cpu_release
          cmake --build --preset linux_${{ matrix.compiler }}_cpu_release

      - name: Verify Build Artifacts
        if: always()
        continue-on-error: true
        run: |
          ls -l ${{ github.workspace }}/build/${{ matrix.compiler }}_cpu/release

      - if: ${{ matrix.compiler }} == 'gcc'
        name: Run tests
        run: |
          set -e -x
          ./build/${{ matrix.compiler }}_cpu/release/test/unit_tests

      - if: ${{ matrix.compiler }} == 'gcc'
        name: Upload Build Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: onnxruntime-genai-linux-cpu-x64
          path: ${{ github.workspace }}/build/**/*.a