name: "Windows CPU arm64 Build"
on:
  workflow_dispatch:
  push:
    branches:
    - main
    - rel-*
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
env:
  ort_dir: "onnxruntime-win-arm64-1.17.1"
  ort_zip: "$(ort_dir).zip"
  ort_url: "https://github.com/microsoft/onnxruntime/releases/download/v1.17.1/$(ort_zip)"
  binaryDir: 'build/cpu'
  ORT_NIGHTLY_REST_API: "https://feeds.dev.azure.com/aiinfra/PublicPackages/_apis/packaging/Feeds/ORT-Nightly/packages?packageNameQuery=Microsoft.ML.OnnxRuntime&api-version=6.0-preview.1"
  ORT_NIGHTLY_PACKAGE_NAME: "Microsoft.ML.OnnxRuntime"

jobs:
  windows-cpu-arm64-build:
    runs-on: [ "self-hosted", "1ES.Pool=onnxruntime-genai-Win11-ARM-CPU" ]
    steps:
    - name: Checkout OnnxRuntime GenAI repo
      uses: actions/checkout@v4
      with:
        submodules: true

    - name: Setup Visual Studio 2022
      uses: microsoft/setup-msbuild@v1.1
      with:
        vs-version: '17.4'
        msbuild-architecture: arm64

    - name : Install jq and nuget
      run: |
        choco install -y jq nuget.commandline curl

    - name: Get the Latest OnnxRuntime Nightly Version
      shell: bash
      run: |
        ORT_NIGHTLY_VERSION=$(curl -s "${{ env.ORT_NIGHTLY_REST_API }}" | jq -r '.value[0].versions[0].normalizedVersion')
        echo "$ORT_NIGHTLY_VERSION" 
        echo "ORT_NIGHTLY_VERSION=$ORT_NIGHTLY_VERSION" >> $GITHUB_ENV

    - name: Extra OnnxRuntime library and header files
      run: |
        mkdir -p ort/lib
        mv ${{ env.ORT_NIGHTLY_PACKAGE_NAME }}/build/native/include ort/
        mv ${{ env.ORT_NIGHTLY_PACKAGE_NAME }}/runtimes/win-arm64/native/* ort/lib/

    - name: Configure CMake
      run: |
        cmake --preset windows_arm64_cpu_release

    - name: Build with CMake
      run: |
        cmake --build --preset windows_arm64_cpu_release --parallel

    - name: Install the Python Wheel and Test Dependencies
      run: |
        python -m pip install (Get-ChildItem ("$env:binaryDir\wheel\*.whl"))
        python -m pip install -r test\python\requirements.txt

    - name: Run the Python Tests
      run: |
        python test/python/test_onnxruntime_genai.py --cwd "test\python" --test_models "test\test_models"

    - name: Build the C# API and Run the C# Tests
      run: |
        cd test\csharp
        dotnet test /p:NativeBuildOutputDir="$env:GITHUB_WORKSPACE\$env:binaryDir\Release"

    - name: Verify Build Artifacts
      if: always()
      continue-on-error: true
      run: |
        Get-ChildItem -Path $env:GITHUB_WORKSPACE\$env:binaryDir -Recurse
        Get-ChildItem -Path $env:GITHUB_WORKSPACE\$env:binaryDir\test -Recurse

    - name: Run tests
      run: |
        .\build\cpu\test\Release\unit_tests.exe